:root {
    --main-theme-color: #00020a;
    --dark-bg-color: #f3f3f5;
    --heading-color: #00030a;
    --paragraph-color: #859bc9;
    --banner-paragraph-color: #095dee;
}

/*text color*/


.single-blog-post .post-content h3 a,
.single-box a:hover h4,
a.text-link:hover,
.widget-link-items li a:hover,
.title-right-icon li:nth-child(1) i,
.seat li:nth-child(1) i {
    color: var(--main-theme-color);
}
h2{
    color: rgb(5, 5, 128);
}
a,
h1,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}